codeplex
obj/
obj-*/
bin-*/
bin/
bin_tools/
obj_tools/
src/Clients/*/bin/
*-disabled
nucache/
nuobj/
nutemp/
nubuild.config
nubuild.cloud-credentials
nubuild.log
nubuild.progress
Experiments/
*.csproj.user
StyleCop.Cache
tmp/
