codeplex
obj/
obj-*/
bin-*/
bin/
bin_tools/
obj_tools/
src/Clients/*/bin/
*-disabled
nucache/
nuobj/
nutemp/
nubuild.config
nubuild.cloud-credentials
nubuild.log
nubuild.progress
Experiments/
*.csproj.user
/nubuild.progress
*.log
*.pdb
*.pyc
*.aux
StyleCop.Cache
tmp/
*.swp
*.dlg
flycheck_*
*.vim
nohup.out
*.vdfy
*.tmp
.sconsign.dblite
*.suo
*~
